<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Travel Bucket List | {{title}}</title>
</head>

<body>
    {{>header}}

    <main>
        <h1 style="color: tomato;padding: 14px;">404 Page Not Found!</h1>
    </main>

</body>

</html>