<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/earth.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Travel Bucket List | {{title}}</title>
</head>

<body>
    {{>header}}
    <main>
        <div class="about">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, odit amet culpa impedit molestias
                odio
                sapiente molestiae accusantium quis placeat corporis, quibusdam rerum quia maxime facilis, beatae
                nostrum
                neque
                obcaecati doloremque eligendi. Libero aliquam repellat omnis qui illum, beatae doloribus commodi ad
                laboriosam!
                Optio, consequatur fugit? Similique qui iste hic.</p>
        </div>
    </main>
    {{>footer}}
</body>

</html>