<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/earth.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Travel Bucket List | {{title}}</title>
</head>

<body>
    {{>header}}
    <main>
        <form class="addLocation" action="">
            <div class="form-row">
                <input type="text" placeholder="Location Name" name="Location">
            </div>
            <div class="form-row">
                <input type="file" id="fileName" class="inputfile" accept="image/*" onchange="validateFileType()" />
            </div>
            <div class="form-row">
                <textarea name="Description" id="" cols="30" rows="10"
                    placeholder="Why Its Worth Going There?"></textarea>
            </div>
            <div class="form-row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </main>
    {{>footer}}
    <script src="/js/AddLocation.js"></script>
</body>

</html>