<header>
    <img class="banner" src="/img/banner.png" alt="">
    <div class="logo">
        <h1>Travel</br>Bucket List</h1>
    </div>
    <div class="links">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/addLocation">add location</a>
    </div>
</header>